.form-setting{
	box-sizing:border-box;
	width:250px;
	height:40px;
	border:1px solid #ccc;
	padding-left:10px;
	outline:none;
}

.form-setting:focus{
	border-color:#64a131;
	box-shadow:0 0 2px #64a131;
}

.login{
	float:right;
	width:120px;
	height:40px;
	border:1px solid #64a131;
	border-radius:5px;
	text-align:center;
	line-height:40px;
	color:#64a131;
	font-size:18px;
	text-decoration:none;
	box-sizing:border-box;
}